.body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}


/* top  */

.top {
    color: #e5e7eb;
    background-color: #1f2937;
}

/* header section */

.header {
    padding-left: 60px;
    padding-right: 60px;
/* flex  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlogo {
    font-size: 20px;
    font-weight: 800;
    color: #f9faf8;
}

.headerlinks {
    font-size: 18px;
    color:#e5e7eb;
    font-weight: 300;
/* flex  */
    display: flex;
    gap: 20px;
}



/* intro section  */

.awesome {
    font-size: 48px;
    font-weight: 900;
}

.intro {
    display: flex;
    padding: 20px;
}

.intropic {
    border: solid;
    border-color: red;
    align-self: center;
    display: flex;
    max-height: fit-content;
}

.introleft {
    
}


/* info section */


.infoheader {
    display: flex;
    justify-content: center;
    color: #1f2937;
    margin: 20px;
    font-size: 36px;
}

.infoboxes {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;

}

.box {
    display: flex;
    flex-direction: column;
    flex: 0;
    text-align: center;
    color: grey;
}

.infoimg {
    border-radius: 8px;
    border: solid;
    border-width: 3px;
    border-color: #3882f6;
}

/* quote section  */

.quotesection {
    background-color: #e5e7eb;
    margin: -10px;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.quote {
    max-width: 700px;
    margin: 20px;
}

.quotetext {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
}

.quoteend {
    font-weight: 800;
    font-style: normal;
    font-size: 24px;
    text-align: right;
}




/* links */
a:link {
    color: #e5e7eb;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active{ 
    text-decoration: none;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-family: Roboto;
    width: 80px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}