.body {
    font-family: Roboto;
}


/* top  */

.top {
    color: #e5e7eb;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: -10px;
    align-items: center;

}

.header, .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
}

.intro {
    display: flex;
    
}

.introleft {
    display: flex;
    flex-direction: column;
}







/* links */
a:link {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active{ 
    text-decoration: none;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-family: Roboto;
    width: 80px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}