.body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}


/* top  */

.top {
    color: #e5e7eb;
    background-color: #1f2937;
}

/* header section */

.header {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
/* flex  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlogo {
    font-size: 20px;
    font-weight: 800;
    color: #f9faf8;
}

.headerlinks {
    font-size: 18px;
    color:#e5e7eb;
    font-weight: 300;
/* flex  */
    display: flex;
    gap: 20px;
}



/* intro section  */


.intro {
    padding: 60px;
/* flex  */
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.introbox {
    max-height: fit-content;
}

.awesome {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.introtext {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topbutton {
    background-color: #3882f6;
    color: #e5e7eb;
    font-family: Roboto;
    width: 80px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}


/* info section */


.infoheader {
    color: #1f2937;
    margin: 20px;
    font-size: 36px;
/* flex  */
    display: flex;
    justify-content: center;
}

.infoboxes {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;

}

.box {
    text-align: center;
    color: grey;
/* flex  */
    display: flex;
    flex-direction: column;
    flex: 0;
    gap: 10px;
}

.infoimg {
    border-radius: 8px;
    border: solid;
    border-width: 3px;
    border-color: #3882f6;
    min-height: 200px;
    min-width: 200px;
}

/* quote section  */

.quotesection {
    background-color: #e5e7eb;
    color: #1f2937;
/* flex  */
    display: flex;
    justify-content: center;
}

.quote {
    max-width: 700px;
    margin: 20px;
}

.quotetext {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    padding: 10px;
}

.quoteend {
    font-weight: 800;
    font-style: normal;
    font-size: 24px;
    text-align: right;
}

/* call to action  */

.bottomsection {
    display: flex;
    justify-content: center;
}

.signup {
    background-color: #3882f6;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 90px;
    margin: 50px;
/* flex  */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.signuptxt {
    color: #f9faf8;
    
}

.signupbutton {
    border: #f9faf8;
    background-color: #3882f6;
    color: #e5e7eb;
    font-family: Roboto;
    font-weight: 600;
    width: 80px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;

}


/* footer  */


.footer {
    background-color: #1f2937;
    padding: 30px;
    color: #f9faf8;
/* flex  */
    display: flex;
    justify-content: center;

}





/* links */
a:link {
    color: #e5e7eb;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active{ 
    text-decoration: none;
}


img {
    max-width:100%;
    min-width: 200px;
    
}

h1 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 5px;
    padding: 0;
}

p {
    margin: 5px;
    padding: 0;
}

